@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
    body{
        color: white;
        background-color: #08142E;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Outfit', sans-serif;
    }
}

@layer components{
    .nav-item{
        @apply text-2xl;
    }
}